
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/.qmake.stash
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/main.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/mainwindow.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/Mind_Overcharged.exe
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_mainwindow.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_predefs.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Debug
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Release
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/ui_mainwindow.h
Juego/Mind_Overcharged/Mind_Overcharged.pro
*.pro
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/boton.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/characterbody.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/data_game.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/checkpoint.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/enemies.o
*.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_user.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/qrc_Recursos.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/object_script.Mind_Overcharged.Debug
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/object_script.Mind_Overcharged.Release
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/ui_user.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmp6ocnca
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmp1rjnsv
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmp_dxme6
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpcdallh
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpfugwuu
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmphbvlzx
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmphscfiv
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpkufyv7
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpp4b1m3
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpp98bfm
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmprwd05f
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpspwjmm
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmptbe5vr
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmptnihir
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpusxwzo
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpuz_e99
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpx4urgi
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpxihjvw
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/usersdellappdatalocaltemptmpyxnysm
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_boton.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_characterbody.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_characterhead.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_checkpoint.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_enemies.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_esfera.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_estrella.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_platform.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_portal.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_menu.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/ui_menu.h
*.stash
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/Mind_Overcharged.exe
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_menu.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_player.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_predefs.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_user.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/qrc_Recursos.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile
*.Debug
*.Release
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/ui_mainwindow.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/ui_menu.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/ui_user.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_player.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_sprite.cpp
