
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/.qmake.stash
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/main.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/mainwindow.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/Mind_Overcharged.exe
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_mainwindow.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/moc_predefs.h
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Debug
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Release
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/ui_mainwindow.h
Juego/Mind_Overcharged/Mind_Overcharged.pro
*.pro
Juego/Mind_Overcharged/Mind_Overcharged.pro
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/characterbody.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/characterbody.o
Juego/build-Mind_Overcharged-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/characterbody.o
*.o
